node_modules/
dist/
.cdk.staging/
cdk.out/
*.js.map
.env
.env.local
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
tfplan
terraform.tfvars

# local design reference images
/track.png
/monza.jpg
/monaco.png
/interlagos.webp
.DS_Store
*.log
.angular/
